
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>Android学习手册_Android组件</TITLE>
<META content="text/html; charset=gb2312" http-equiv=Content-Type><LINK  rel=stylesheet type=text/css href="../css/c5.css">
<meta name="Description" content=Android基础 Android组件 Android用户界面 Android设备功能 Android数据存储 Android网络应用 Android游戏开发 Android多媒体 Android源码开发 Android高级进阶 Android面试题/>
<meta name="Keywords" content="android 学习手册">
</HEAD>
<BODY id=homesecond class=serverscripting>
<DIV id=wrapper>
<DIV id=header><h1><a href="../index.html">Android学习手册</a></h1> 
</DIV>

<DIV id=navfirst>
<div id="indexGuide"><UL><li ><A href="../basic/index.html">Android基础</A> </li><li class="navcurrentLink"><A href="index.html">Android组件</A> </li><li ><A href="../userinterface/index.html">用户界面</A> </li><li ><A href="../device/index.html">设备功能</A> </li><li ><A href="../datastorage/index.html">数据存储</A> </li><li ><A href="../network/index.html">网络应用</A> </li><li ><A href="../game/index.html">游戏开发</A> </li><li ><A href="../multimedia/index.html">多媒体</A> </li><li ><A href="../source/index.html">源码开发</A> </li><li ><A href="../advance/index.html">高级进阶</A> </li><li ><A href="../interview/index.html">Android面试题</A> </li></UL></div>
</DIV>
<DIV id=navsecond>
<DIV id=course>
<div id="kcTitle">Android组件</div>

  <h2 ><A title="Activity" href="index_112.html">Activity</A></h2>

  <h2 ><A title="Intent" href="index_113.html">Intent</A></h2>

  <h2 ><A title="Service" href="index_114.html">Service</A></h2>

  <h2 ><A title="Content Provider" href="index_115.html">Content Provider</A></h2>

  <h2 ><A title="BroadcastReceiver" href="index_116.html">BroadcastReceiver</A></h2>

  <h2 ><A title="AsyncTask" href="index_117.html">AsyncTask</A></h2>

  <h2 ><A title="Handler" href="index_118.html">Handler</A></h2>

  <h2 ><A title="Thread" href="index_119.html">Thread</A></h2>

  <h2 class="currentLink"><A title="Permission" href="index_120.html">Permission</A></h2>
<UL><li class="currentLink"><A title=Android permission 基础知识 href="show_801_120.html">Android permission 基础知识</A> </li><li ><A title=Android permission的四个等级 href="show_802_120.html">Android permission的四个等级</A> </li><li ><A title=Android permission 访问权限大全 href="show_803_120.html">Android permission 访问权限大全</A> </li><li ><A title=Android中startAcitvity中的Permission检测与UID机制 href="show_804_120.html">Android中startAcitvity中的Permission检测与UID机制</A> </li></UL>
  <h2 ><A title="AIDL" href="index_121.html">AIDL</A></h2>

  <h2 ><A title="Json" href="index_122.html">Json</A></h2>

</DIV></DIV>
<DIV id=maincontent>
<DIV id=w3school>
<H1>Permission</H1>
<P><STRONG></STRONG></P></DIV>

<DIV>
<H2>Android permission 基础知识</H2>
<P>　　Android是一个多进程系统，在这个系统中，应用程序（或者系统的部分）会在自己的进程中运行。系统和应用之间的安全性是通过Linux的facilities（工具，功能）在进程级别来强制实现的，比如会给应用程序分配user ID和G</P>
<P><A title="Android permission 基础知识" href="show_801_120.html">进入 Android permission 基础知识</A> </P></DIV>

<DIV>
<H2>Android permission的四个等级</H2>
<P>　　java代码：[code=java]android:protectionLevel=#[Fields]&quot;&quot;normalandroid:protectionLevel=#[Fields]&quot;&quot;dangerousandroid:protectionLevel=#[Fields]&quot;&quot;signatureandroid:protectionLe</P>
<P><A title="Android permission的四个等级" href="show_802_120.html">进入 Android permission的四个等级</A> </P></DIV>

<DIV>
<H2>Android permission 访问权限大全</H2>
<P>　　[color=blue]android.permission.ACCESS_CHECKIN_PROPERTIES允许读写访问”properties”表在checkin数据库中，改值可以修改上传( Allows read/write access to the “properties” table in the checkin database, t</P>
<P><A title="Android permission 访问权限大全" href="show_803_120.html">进入 Android permission 访问权限大全</A> </P></DIV>

<DIV>
<H2>Android中startAcitvity中的Permission检测与UID机制</H2>
<P>　　我们经常在一个activity中去start另一个activity，或者与另一个acitivity的结果进行交互（startActivityForResult）。但有没有想过可能会出现的permission问题呢？如果你遇到了permission denial的Exception，那么你</P>
<P><A title="Android中startAcitvity中的Permission检测与UID机制" href="show_804_120.html">进入 Android中startAcitvity中的Permission检测与UID机制</A> </P></DIV>

</DIV>

<DIV id=footer style="display:none">
<P align="center"> 
 
 
 
  </P>
</DIV></DIV></BODY></HTML>

