
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>Android学习手册_Android组件</TITLE>
<META content="text/html; charset=gb2312" http-equiv=Content-Type><LINK  rel=stylesheet type=text/css href="../css/c5.css">
<meta name="Description" content=Android基础 Android组件 Android用户界面 Android设备功能 Android数据存储 Android网络应用 Android游戏开发 Android多媒体 Android源码开发 Android高级进阶 Android面试题/>
<meta name="Keywords" content="android 学习手册">
</HEAD>
<BODY id=homesecond class=serverscripting>
<DIV id=wrapper>
<DIV id=header><h1><a href="../index.html">Android学习手册</a></h1> 
</DIV>

<DIV id=navfirst>
<div id="indexGuide"><UL><li ><A href="../basic/index.html">Android基础</A> </li><li class="navcurrentLink"><A href="index.html">Android组件</A> </li><li ><A href="../userinterface/index.html">用户界面</A> </li><li ><A href="../device/index.html">设备功能</A> </li><li ><A href="../datastorage/index.html">数据存储</A> </li><li ><A href="../network/index.html">网络应用</A> </li><li ><A href="../game/index.html">游戏开发</A> </li><li ><A href="../multimedia/index.html">多媒体</A> </li><li ><A href="../source/index.html">源码开发</A> </li><li ><A href="../advance/index.html">高级进阶</A> </li><li ><A href="../interview/index.html">Android面试题</A> </li></UL></div>
</DIV>
<DIV id=navsecond>
<DIV id=course>
<div id="kcTitle">Android组件</div>

  <h2 ><A title="Activity" href="index_112.html">Activity</A></h2>

  <h2 ><A title="Intent" href="index_113.html">Intent</A></h2>

  <h2 ><A title="Service" href="index_114.html">Service</A></h2>

  <h2 ><A title="Content Provider" href="index_115.html">Content Provider</A></h2>

  <h2 ><A title="BroadcastReceiver" href="index_116.html">BroadcastReceiver</A></h2>

  <h2 ><A title="AsyncTask" href="index_117.html">AsyncTask</A></h2>

  <h2 class="currentLink"><A title="Handler" href="index_118.html">Handler</A></h2>
<UL><li class="currentLink"><A title=Handler 基础认识 href="show_601_118.html">Handler 基础认识</A> </li><li ><A title=Android Handler的使用(一) href="show_602_118.html">Android Handler的使用(一)</A> </li><li ><A title=Android Handler的使用(二) href="show_603_118.html">Android Handler的使用(二)</A> </li><li ><A title=Android GWES之Android消息系统 href="show_604_118.html">Android GWES之Android消息系统</A> </li><li ><A title=用Handler更新进度条ProgressBar href="show_605_118.html">用Handler更新进度条ProgressBar</A> </li><li ><A title=在Android的Notification中显示进度条 href="show_606_118.html">在Android的Notification中显示进度条</A> </li><li ><A title=通过线程改变界面button的内容 href="show_607_118.html">通过线程改变界面button的内容</A> </li><li ><A title=5秒钟自动更新Title href="show_608_118.html">5秒钟自动更新Title</A> </li></UL>
  <h2 ><A title="Thread" href="index_119.html">Thread</A></h2>

  <h2 ><A title="Permission" href="index_120.html">Permission</A></h2>

  <h2 ><A title="AIDL" href="index_121.html">AIDL</A></h2>

  <h2 ><A title="Json" href="index_122.html">Json</A></h2>

</DIV></DIV>
<DIV id=maincontent>
<DIV id=w3school>
<H1>Handler</H1>
<P><STRONG></STRONG></P></DIV>

<DIV>
<H2>Handler 基础认识</H2>
<P>　　[color=blue]Handler的定义:主要接受子线程发送的数据, 并用此数据配合主线程更新UI。解释: 当应用程序启动时，Android首先会开启一个主线程 (也就是UI线程) , 主线程为管理界面中的UI控件，进行事件分发，比如说，</P>
<P><A title="Handler 基础认识" href="show_601_118.html">进入 Handler 基础认识</A> </P></DIV>

<DIV>
<H2>Android Handler的使用(一)</H2>
<P>　　Handler基本概念： Handler主要用于异步消息的处理：当发出一个消息之后，首先进入一个消息队列，发送消息的函数即刻返回，而另外一个部分逐个的在消息队列中将消息取出，然后对消息进行出来，就是发送消息和接收消</P>
<P><A title="Android Handler的使用(一)" href="show_602_118.html">进入 Android Handler的使用(一)</A> </P></DIV>

<DIV>
<H2>Android Handler的使用(二)</H2>
<P>　　一、 Handler与线程的关系 Handler在默认情况下，实际上它和调用它的Activity是处于同一个线程的。 例如在Handler的使用（一）的示例1中，虽然声明了线程对象，但是在实际调用当中它并没有调用线程的start()方法，而</P>
<P><A title="Android Handler的使用(二)" href="show_603_118.html">进入 Android Handler的使用(二)</A> </P></DIV>

<DIV>
<H2>Android GWES之Android消息系统</H2>
<P>　　Looper，Handler，View我们要理解Android的消息系统，Looper，Handle，View等概念还是需要从消息系统的基本原理及其构造这个源头开始。从这个源头，我们才能很清楚的看到Android设计者设计消息系统之意图及其设计的</P>
<P><A title="Android GWES之Android消息系统" href="show_604_118.html">进入 Android GWES之Android消息系统</A> </P></DIV>

<DIV>
<H2>用Handler更新进度条ProgressBar</H2>
<P>　　通过对Handler的学习，使我们理解了线程的运行，当我们使用多个线程的时候，会感觉很乱，如果我们应用Handler，我们可以更加清晰的去进行更新。下面是利用线程Handler更新进度条的示例：[code=java]#[Keywords]publi</P>
<P><A title="用Handler更新进度条ProgressBar" href="show_605_118.html">进入 用Handler更新进度条ProgressBar</A> </P></DIV>

<DIV>
<H2>在Android的Notification中显示进度条</H2>
<P>　　最近研究了Notification,参考了一些文档，写了一些心得。在官方文档中得知在Android的Notification中可以显示进度条，就想做个例子试一下。在网上查了下，没有找到。决定自己写下，费了九牛二虎之力搞定了，现在拿出</P>
<P><A title="在Android的Notification中显示进度条" href="show_606_118.html">进入 在Android的Notification中显示进度条</A> </P></DIV>

<DIV>
<H2>通过线程改变界面button的内容</H2>
<P>　　代码如下：[code=java]#[Keywords]public #[Keywords]class #MyHandlerActivity #[Keywords]extends #Activity {	#Button button;	#MyHandler myHandler;	#[Keywords]protected #[Keywords]void #onCreate(Bundle sa</P>
<P><A title="通过线程改变界面button的内容" href="show_607_118.html">进入 通过线程改变界面button的内容</A> </P></DIV>

<DIV>
<H2>5秒钟自动更新Title</H2>
<P>　　通过对Handler的学习，使我们理解了线程的运行，当我们使用多个线程的时候，会感觉很乱，如果我们应用Handler，我们可以更加清晰的去进行更新。下面是一个规定时间自动更新Title的示例：[code=java]#[Keywords]impor</P>
<P><A title="5秒钟自动更新Title" href="show_608_118.html">进入 5秒钟自动更新Title</A> </P></DIV>

</DIV>

<DIV id=footer style="display:none">
<P align="center"> 
 
 
 
  </P>
</DIV></DIV></BODY></HTML>

