
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>Android学习手册_Android组件</TITLE>
<META content="text/html; charset=gb2312" http-equiv=Content-Type><LINK  rel=stylesheet type=text/css href="../css/c5.css">
<meta name="Description" content=Android基础 Android组件 Android用户界面 Android设备功能 Android数据存储 Android网络应用 Android游戏开发 Android多媒体 Android源码开发 Android高级进阶 Android面试题/>
<meta name="Keywords" content="android 学习手册">
</HEAD>
<BODY id=homesecond class=serverscripting>
<DIV id=wrapper>
<DIV id=header><h1><a href="../index.html">Android学习手册</a></h1> 
</DIV>

<DIV id=navfirst>
<div id="indexGuide"><UL><li ><A href="../basic/index.html">Android基础</A> </li><li class="navcurrentLink"><A href="index.html">Android组件</A> </li><li ><A href="../userinterface/index.html">用户界面</A> </li><li ><A href="../device/index.html">设备功能</A> </li><li ><A href="../datastorage/index.html">数据存储</A> </li><li ><A href="../network/index.html">网络应用</A> </li><li ><A href="../game/index.html">游戏开发</A> </li><li ><A href="../multimedia/index.html">多媒体</A> </li><li ><A href="../source/index.html">源码开发</A> </li><li ><A href="../advance/index.html">高级进阶</A> </li><li ><A href="../interview/index.html">Android面试题</A> </li></UL></div>
</DIV>
<DIV id=navsecond>
<DIV id=course>
<div id="kcTitle">Android组件</div>

  <h2 ><A title="Activity" href="index_112.html">Activity</A></h2>

  <h2 ><A title="Intent" href="index_113.html">Intent</A></h2>

  <h2 ><A title="Service" href="index_114.html">Service</A></h2>

  <h2 ><A title="Content Provider" href="index_115.html">Content Provider</A></h2>

  <h2 ><A title="BroadcastReceiver" href="index_116.html">BroadcastReceiver</A></h2>

  <h2 ><A title="AsyncTask" href="index_117.html">AsyncTask</A></h2>

  <h2 ><A title="Handler" href="index_118.html">Handler</A></h2>

  <h2 class="currentLink"><A title="Thread" href="index_119.html">Thread</A></h2>
<UL><li class="currentLink"><A title=线程的基础知识 href="show_701_119.html">线程的基础知识</A> </li><li ><A title=Android 线程学习 href="show_702_119.html">Android 线程学习</A> </li><li ><A title=Android开发之旅：进程与线程 href="show_703_119.html">Android开发之旅：进程与线程</A> </li><li ><A title=线程和进程的区别 href="show_704_119.html">线程和进程的区别</A> </li><li ><A title=创建线程的两种方式 href="show_705_119.html">创建线程的两种方式</A> </li><li ><A title=Android 线程间的通信 href="show_706_119.html">Android 线程间的通信</A> </li><li ><A title=Android线程间通信的Message机制 href="show_707_119.html">Android线程间通信的Message机制</A> </li><li ><A title=Activity与Thread之间的通讯 href="show_708_119.html">Activity与Thread之间的通讯</A> </li><li ><A title=Android 线程交互+修改Button样式（一） href="show_709_119.html">Android 线程交互+修改Button样式（一）</A> </li><li ><A title=Android 线程交互+修改Button样式（二） href="show_710_119.html">Android 线程交互+修改Button样式（二）</A> </li><li ><A title=Android 多线程下载 href="show_711_119.html">Android 多线程下载</A> </li></UL>
  <h2 ><A title="Permission" href="index_120.html">Permission</A></h2>

  <h2 ><A title="AIDL" href="index_121.html">AIDL</A></h2>

  <h2 ><A title="Json" href="index_122.html">Json</A></h2>

</DIV></DIV>
<DIV id=maincontent>
<DIV id=w3school>
<H1>Thread</H1>
<P><STRONG></STRONG></P></DIV>

<DIV>
<H2>线程的基础知识</H2>
<P>　　[color=blue]什么是线程？线程（threads, 台湾称 执行绪），也被称为轻量进程（lightweight processes）。计算机科学术语，指运行中的程序的调度单位。线程是进程中的实体，一个进程可以拥有多个线程，一个线程必须</P>
<P><A title="线程的基础知识" href="show_701_119.html">进入 线程的基础知识</A> </P></DIV>

<DIV>
<H2>Android 线程学习</H2>
<P>　　[color=blue]1. 单线程模型当一个程序第一次启动时，Android会同时启动一个对应的主线程（Main Thread），主线程主要负责处理与UI相关的事件，如用户的按键事件，用户接触屏幕的事件以及屏幕绘图事件，并把相关的事</P>
<P><A title="Android 线程学习" href="show_702_119.html">进入 Android 线程学习</A> </P></DIV>

<DIV>
<H2>Android开发之旅：进程与线程</H2>
<P>　　[color=blue]引言当应用程序的组件第一次运行时，Android将启动一个只有一个执行线程的Linux进程。默认，应用程序所有的组件运行在这个进程和线程中。然而，你可以安排组件运行在其他进程中，且你可以为进程衍生出其</P>
<P><A title="Android开发之旅：进程与线程" href="show_703_119.html">进入 Android开发之旅：进程与线程</A> </P></DIV>

<DIV>
<H2>线程和进程的区别</H2>
<P>　　说法一：进程是具有一定独立功能的程序关于某个数据集合上的一次运行活动,进程是系统进行资源分配和调度的一个独立单位。线程是进程的一个实体,是CPU调度和分派的基本单位,它是比进程更小的能独立运行的基本单位.线</P>
<P><A title="线程和进程的区别" href="show_704_119.html">进入 线程和进程的区别</A> </P></DIV>

<DIV>
<H2>创建线程的两种方式</H2>
<P>　　两种创建线程的方式：第一种方式：使用Runnable接口创建线程。第二种方式：直接继承Thread类创建对象使用Runnable接口创建线程。1.可以将CPU，代码和数据分开，形成清晰的模型。2.线程体run()方法所在的类可以从其它</P>
<P><A title="创建线程的两种方式" href="show_705_119.html">进入 创建线程的两种方式</A> </P></DIV>

<DIV>
<H2>Android 线程间的通信</H2>
<P>　　Andriod提供了Handler和Looper来满足线程间的通信。例如一个子线程从网络上下载了一副图片，当它下载完成后会发送消息给主线程，这个消息是通过绑定在主线程的Handler来传递的。在Android，这里的线程分为有消息循环</P>
<P><A title="Android 线程间的通信" href="show_706_119.html">进入 Android 线程间的通信</A> </P></DIV>

<DIV>
<H2>Android线程间通信的Message机制</H2>
<P>　　[color=blue]1.1.Message代码在frameworks\base\core\java\android\Os\Message.java中。Message.obtain函数：有多个obtain函数，主要功能一样，只是参数不一样。作用是从Message Pool中取出一个Message，如果Message</P>
<P><A title="Android线程间通信的Message机制" href="show_707_119.html">进入 Android线程间通信的Message机制</A> </P></DIV>

<DIV>
<H2>Activity与Thread之间的通讯</H2>
<P>　　在Android中要让Activity与Thread进行通讯 其实很简单。重点就在于android.os.Handler、java.lang.Thread以及android.os.Message这三个类的整合应用我们在Thread中可以通过Message来通知Handler，Handler在这里扮演</P>
<P><A title="Activity与Thread之间的通讯" href="show_708_119.html">进入 Activity与Thread之间的通讯</A> </P></DIV>

<DIV>
<H2>Android 线程交互+修改Button样式（一）</H2>
<P>　　当一个程序第一次启动的时候，Android会启动一个LINUX进程和一个主线程。默认的情况下，所有该程序的组件都将在该进程和线程中运行。同时，Android会为每个应用程序分配一个单独的LINUX用户。Android会劲量保留一个</P>
<P><A title="Android 线程交互+修改Button样式（一）" href="show_709_119.html">进入 Android 线程交互+修改Button样式（一）</A> </P></DIV>

<DIV>
<H2>Android 线程交互+修改Button样式（二）</H2>
<P>　　其实单线程模型就是默认情况下android把所有操作都放在主线程也就是UI Thread线程中来执行，如果你想O上边那段不是说它会阻塞用户界面嘛。那我可以另起一个线程来执行一些操作 没错你的想法非常good 。很给力。那么</P>
<P><A title="Android 线程交互+修改Button样式（二）" href="show_710_119.html">进入 Android 线程交互+修改Button样式（二）</A> </P></DIV>

<DIV>
<H2>Android 多线程下载</H2>
<P>　　代码如下：[code=java]#[Keywords]import #java.io.BufferedInputStream;#[Keywords]import #java.io.RandomAccessFile;#[Keywords]import #java.net.HttpURLConnection;#[Keywords]import #java.net.URL;#[Keywords</P>
<P><A title="Android 多线程下载" href="show_711_119.html">进入 Android 多线程下载</A> </P></DIV>

</DIV>

<DIV id=footer style="display:none">
<P align="center"> 
 
 
 
  </P>
</DIV></DIV></BODY></HTML>

